.site-theme-jointventure.site-theme-blue {
  .coloredContentBox {
    &.theme-backdrop-2-50.theme-primary-color-background {
      background-color: $color-grey-2;
    }
    .accordion.theme-white-blue.theme-primary-color-background {
      background-color: transparent;
    }
    .coloredContentBox-content.richtext {
      font-size: $font-size-xl;
      @include cerapro-bold;
      color: $color-blue;
    }
  }
}
