.site-theme-jointventure.site-theme-blue {
  .article {
    max-width: 960px;
    margin-bottom: 20px !important;
    .article-headline {
      margin-left: 0;
      font-size: $font-size-xxl-1;
      color: $color-blue;
    }
    .article-subheadline {
      margin-left: 0;
      @include cerapro-regular;
      font-weight: normal;
      color: $color-black;
      font-size: $font-size-l;
    }
  }
}
