@import "variables";

%datatablesComponent {
  .dataTables_wrapper {
    .list-header {
      display: none;
    }
    .dataTables_paginate {
      .paginate_button {
        cursor: pointer;
        color: #4a4a4a;

        &.current {
          cursor: default;
          background-color: $color-blue;
          color: $color-white;

          &:hover {
            color: $color-white;
          }
        }

        &:hover {
          color: $color-blue;
        }
      }
    }

    .list-items {
      .list-items-item-value-type-date {
        font-size: $font-size-s;
        color: $color-blue;
        margin-bottom: 15px;
      }
      .list-items-item-value-type-header {
        margin-bottom: 15px;
        font-size: $font-size-m;
        line-height: 24px;
        @include cerapro-medium;
      }
      .list-items-item-value-type-description {
        font-size: $font-size-s;
        line-height: 22px;
      }
      @include desktop-size {
        .list-items-item-column-image {
          padding: 20px 25px 20px 20px;
        }
        .list-items-item-value.list-items-item-value-type-image {
          width: 175px;
        }
      }
    }
  }
}
