@font-face {
  font-family: 'CeraStencilPro-Bold';
  src: url('https://external-orstedcdn.azureedge.net/shared/fonts/ea/ceraprojv/v1/CeraStencilPro-Bold.eot');
  src: url('https://external-orstedcdn.azureedge.net/shared/fonts/ea/ceraprojv/v1/CeraStencilPro-Bold.eot?#iefix') format('embedded-opentype'), url('https://external-orstedcdn.azureedge.net/shared/fonts/ea/ceraprojv/v1/CeraStencilPro-Bold.woff2') format('woff2'), url('https://external-orstedcdn.azureedge.net/shared/fonts/ea/ceraprojv/v1/CeraStencilPro-Bold.woff') format('woff'), url('https://external-orstedcdn.azureedge.net/shared/fonts/ea/ceraprojv/v1/CeraStencilPro-Bold.ttf') format('truetype');
}
