@import 'mixins';
@import 'variables';
@import 'buttons';

$formSelector: 'form' !default;

#{$formSelector} {
  margin: 0 auto;

  .has-error.has-feedback {
    @include visually-hidden;
  }

  .form-group {
    margin: 0 0 14px;
  }

  .form-control {
    @include cerapro-regular;
    background-color: transparent;
    color: $color-black;
    padding: 12px 28px;
    border: 1px solid $color-grey-1;
    border-radius: 22px;
    transition: border 0.5s ease-in-out;
    margin-bottom: 4px;

    &:focus, &.is-active {
      border-width: 2px;
      border-color: $color-grey-1 !important;
      transition: border 0.5s ease-in-out;
    }
  }

  textarea.form-control {
    border-radius: 5px;
    padding: 24px 28px;
  }

  label.control-label {
    @include cerapro-regular;
    background-color: transparent;
    font-size: 16px;
    padding-left: 28px;
    padding-right: 28px;

    &.is-active {
      transform: translateY(-25px);
    }
  }

  .help-block {
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, padding-bottom 0.5s ease-in-out;
    height: auto;
    display: block;
    max-height: 0;
    padding-bottom: 0;

    &.field-validation-error {
      max-height: 25px;
    }

    &:before {
      @include cerapro-bold;
      opacity: 0;
      content: '!';
      display: inline-block;
      position: absolute;
      border-radius: 50%;
      width: 25px;
      height: 25px;
      line-height: 25px;
      text-align: center;
      background-color: $color-red-2;
      top: 10px;
      right: 14px;
      color: $color-white;
      font-size: $font-size-s;
      transition: opacity 0.5s ease-in-out;
    }
  }

  .field-validation-error {
    font-size: 12px;
    line-height: 15px;
    color: $color-red-2;
    padding: 0 28px 10px;
    
    &:before {
      opacity: 1;
      transition: opacity 0.5s ease-in-out;
    }
    
  }

  .btn.btn-default {
    @include button-theme;
    width: auto;
  }
}
