.site-theme-jointventure.site-theme-blue {
  .heroOverlay {
    &.theme-aubergine .theme-primary-color-background {
      background-color: $color-blue;
    }
    h2 {
      font-size: $font-size-m;
    }
    .teaser-body {
      margin: 0;
    }
  }
}
@media (min-width: 769px) {
  .site-theme-jointventure.site-theme-blue {
    .heroOverlay {
      padding: 140px 0 70px;
      h2 {
        font-size: $font-size-l;
      }
    }
  }
}
