%imageComponent {
  .img-component,
  .img-component img {
    width: 100%;
    height: 100%;
  }

  .img-component {
    .isIE11 & {
      position: relative;
      padding-top: 58.5%;
    }
  }

  .img-component img {
    .isIE11 & {
      height: auto;
      width: 130%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      object-fit: cover;
    }
    object-fit: cover;
  }

  .img-component + div {
    margin-top: 15px;
    font-size: $font-size-xs !important;
  }
}
