@import 'image';
@import 'placeholders';

$color-blue: #144c99;
$color-blue-2: #c7d4e7;
$defaultColorList: $color-blue, $color-blue-2;

%imageFigure {
  @extend %imageComponent;

  .img-component {
    margin-bottom: 8px;
  }

  .img-component + div {
    margin-top: 0;
  }

  .img-component ~ .article {
    padding: 0;
    margin: 0 0 48px !important;

    .article-content {
      width: 100%;
    }

    .article-content-inner {
      @include cerapro-regular;
      font-size: 16px;
      max-width: none;

      ul {
        padding: 0;
        list-style: none;
      }

      li {
        padding: 0;
        line-height: 20px;
        margin-bottom: 4px;

        &:before {
          content: '';
          width: 16px;
          height: 16px;
          border-radius: 50%;
          display: inline-block;
          margin-right: 8px;
          vertical-align: baseline;
        }
      }
    }
  }
}

@mixin imageComponentWithCaption {
  @extend %imageComponent;
  
  .img-component {
    margin-bottom: 8px;
  }

  .img-component + div {
    margin-top: 0;
    padding: 0 30px;
  }

  .img-component ~ .article {
    @include visually-hidden;
    margin: 0 !important;
  }
}

@mixin imageComponentWithListFigure($colorList: $defaultColorList) {
  @extend %imageFigure;
  .article-content-inner {
    li {
      $colorListLength: length($colorList);
      @for $i from 1 through $colorListLength {
        $c: nth($colorList, $i);

        &:nth-child(#{$colorListLength}n + #{$i}):before {
          background-color: $c;
        }
      }
    }
  }
}
