.site-theme-jointventure.site-theme-blue {
  .headerSliderCorporate {
    .headerSlider .headerSlider-top {
      // max-width: 1440px;
    }

    .headerSlider .headerSlider-top.slim .headerMegaNavigation-menu {
      margin-top: 0;
    }
    .headerSlider .header-left {
      width: 100%;
    }
    .headerSlider .header-logo-link .header-logo-image-desktop {
      max-height: none;
      max-width: none;
      height: auto !important;
    }
    .headerSlider .header-logo-link .header-logo-image-mobile {
      height: 40px !important;
    }
    .headerMegaNavigation .headerMegaNavigation-menu-item-link {
      font-size: $font-size-s;
      @include cerapro-bold;
      position: relative;
      &.isPageAncestor:after {
        position: absolute;
        height: 7px;
        width: 100%;
        display: block;
        content: "";
        background-color: $color-blue;
        bottom: -29px;
        left: 0;
      }
      &.isPageAncestor {
        color: $color-blue;
      }
    }
    .headerSlider-top.slim
      .headerMegaNavigation
      .headerMegaNavigation-menu-item-link {
      &.isPageAncestor:after {
        bottom: -25px;
      }
    }
  }
}

@media (min-width: 769px) {
  .site-theme-jointventure.site-theme-blue {
    .headerSliderCorporate {
      .headerSlider .headerMegaNavigation-menu {
        .headerMegaNavigation-menu-item {
          margin: 0 20px;
        }
        margin-top: 40px;
      }
      .headerSlider .header-search-ov {
        margin-top: 40px;
        .searchTypeahead .awesomplete {
          width: 230px;
        }
      }
      .headerSlider .site-select-menu {
        margin-right: 0;
      }
      .headerSlider .headerSlider-top.slim .header-search-ov {
        margin-top: 0;
      }
      .headerSlider .header-site-selector-item {
        background-color: $color-red;
        border-radius: 25px;
        padding: 7px 20px 9px;
        color: $color-white;
        font-size: $font-size-s;
        margin-top: 50px;
        @include cerapro-bold;
      }
      .headerSlider-top.slim .header-site-selector-item {
        margin-top: 0;
      }
    }
  }
}
