.row.row-widewidth .col-md-6 .richtext {
  @media (min-width: 769px) {
    table:not(:first-child) {
      margin-top: 0;
      background-color: $color-red !important;
      td {
        color: $color-white;
        font-size: $font-size-s;
        h4 {
          font-size: $font-size-l;
        }
      }
      .link-arrow {
        color: $color-white;
      }
      tr:nth-child(even) {
        background-color: transparent;
      }
      tr:nth-child(1) {
        td {
          font-size: $font-size-s;
        }
      }
    }
  }
}
