@import 'variables';
@import 'mixins';
@import 'buttons';
@import 'datatables';

%searchComponent {
  $formSelector: '.form';
  @import 'forms';
  @extend %datatablesComponent;

  .form .form-group {
    margin-bottom: 8px;
  }

  .search_without_category {
    h3 {
      @include cerapro-bold;
      font-size: $font-size-xl;
      color: $color-blue;
      margin-bottom: 30px;
    }
  }

  .search-result-col {
    margin-bottom: 24px;
  }

  .search-result-submit-btn {
    @include button-theme;
    width: auto;
    flex: 0 0 auto;
    align-self: flex-start;
    line-height: 44px !important;
  }

  .search-result-module .form .form-search .search-result-submit-btn.btn {
    padding-left: 40px;
    padding-right: 40px;
  }

  label.show-as-placeholder {
    @extend .control-label;
    display: inline-block;
    width: auto;

    &.is-active {
      font-size: 12px;
    }
  }

  .searchForm {
    width: 100%;
  }

  .search_results_headline {
    @include visually-hidden;
  }

  .search_result_line {
    padding: 0 28px;
    margin-bottom: 20px;
  }
  
  #total_search_result {
    font-size: $font-size-s;
    padding-left: 0;
  }

  a {
    &.breadcrumb-link-sov {
      color: $color-blue;
    }

    &.search-results-link {
      color: $color-black;

      b {
        @include cerapro-medium;
        font-size: $font-size-m;
        line-height: 1.2;
        margin-bottom: 4px;
        display: block;
        padding: 0;

        & + br {
          display: none;
        }
      }

      .list-item-description {
        font-size: $font-size-s;
        line-height: 1.2;

        b {
          @include cerapro-regular;
          font-size: $font-size-s;
          display: inline;
        }
      }
    }
  }
  
  .list .list-items.list-has-row-hover {
    tr:hover {
      background-color: $color-grey-2 !important;
    }
  }

  .list .list-items.list-type-table {
    border: 0;
    .list-header {
      @include visually-hidden;
    }

    .list-items-item {
      border-top: 0;
      border-bottom: 1px solid #979797;
    }

    .list-items-item-column {
      margin: 0;
      padding: 40px 28px 39px;
    }
  }

}
