$color-green: #0a785b !default;
$color-white: #fff !default;
$defaultBackground: $color-green;
$defaultColor: $color-white;

%teaserPlaceholder {
  .teaser-tagline {
    @include cerapro-bold;
    font-size: $font-size-s !important;
  }

  .teaser-headline {
    @include cerapro-regular;
    font-size: $font-size-l;
    color: $color-white;

    strong {
      display: block;
      font-size: $font-size-xl;
      margin-bottom: 40px;
    }

    a {
      @include cerapro-medium;
      font-size: $font-size-s;
    }
  }

  .teaser-cta {
    @include cerapro-medium;
    font-size: $font-size-s;
  }

  .teaser-link-arrow,
  .link-arrow {
    @include cerapro-medium;
    font-size: $font-size-s;
  }
  
  .teaser-body {
    margin-bottom: 8px;
  }
  
  .teaser-headline {
    margin-bottom: 0;
  }
}

@mixin teaser-theme($background: $defaultBackground, $color: $defaultColor) {
  @extend %teaserPlaceholder;
  
  .teaser-media {
    background-color: $background;
  }

  .teaser-tagline {
    color: $color;
  }

  .teaser-headline {
    color: $color;
  }

  .teaser-link-arrow,
  .link-arrow {
    color: $color !important;
  }
}
