@import 'buttons';

.site-theme-jointventure.site-theme-blue {
  .teaser-horisontal {
    &.theme-aubergine.theme-primary-color-background {
      background-color: $color-white;
    }
    .teaser-content {
      > h2 {
        font-size: $font-size-s !important;
        color: $color-blue;
        @include cerapro-bold;
        margin-bottom: 0;
        padding-bottom: 0;
      }

      .link-arrow {
        @include cerapro-medium;
        color: $color-red !important;
        font-size: $font-size-s !important;
      }
      &.richtext {
        a.btn-btn-cta,
        a.btn.teaser-btn {
          @include button-theme;
        }
      }
    }

    .teaser-body {
      margin-bottom: 15px;
      margin-top: 15px;
      > h2 {
        color: $color-black;
        font-size: $font-size-l !important;
        .teaser-2-date {
          color: $color-blue;
        }
      }
    }
    &.teaser:not(.teaser-media-video) {
      min-height: 462px;
    }
  }
}

@media (min-width: 769px) {
  .site-theme-jointventure.site-theme-blue {
    .teaser-horisontal {
      .teaser-content {
        padding-top: 30px;
        .teaser-body {
          margin: 30px 0;
        }
        &.richtext {
          a.btn-btn-cta,
          a.btn.teaser-btn {
            width: fit-content;
            text-align: left;
            display: flex;
            margin-right: 25px;
          }
        }
      }
    }
  }
}
