$color-blue: #144c99;
$color-blue-2: #c7d4e7;
$color-green: #0a785b;
$color-grey: #dfdfde;
$color-grey-1: #8a8a8a;
$color-grey-2: lighten($color-grey, 10%);
$color-yellow: #f5c54b;
$color-red: #f06535;
$color-red-2: #e85758;
$color-white: #fff;
$color-black: #000;
$color-orange: #ee653d;

$font-size-xxl: 94px;
$font-size-xxl-1: 60px;
$font-size-xxl-2: 48px;
$font-size-xl: 40px;
$font-size-xl-1: 30px;
$font-size-xl-2: 26px;
$font-size-l: 24px;
$font-size-l-1: 22px;
$font-size-m: 20px;
$font-size-s: 18px;
$font-size-xs: 14px;
