@import 'globals';
@import 'stock';

.article-corporate {
  max-width: none;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 30px !important;
}

.row .img-component {
  margin-bottom: 30px;
}

.sustainability {
  padding: 30px 0;
}

.richtext table tbody tr:nth-child(even) {
  background-color: transparent;
}

.richtext .whitepapers-tags {
  list-style: none;
  padding: 0;
  margin: 0 0 16px;

  li {
    display: inline-block;
    margin-right: 4px;
    border-radius: 4px;
    background-color: #e4e4e4;
    padding: 0 8px;
    line-height: 20px;
    font-size: 12px;

    &:before {
      width: auto;
      content: "";
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

/*Sustainability Page CSS*/

.sustainability {
  .container{
    margin-top: 30px;
  }
  .sub-container{
    display: inline-flex;
  }
  .heading{
    font-size: 24px;
  }
  .section{
    margin: 20px 20px 20px 0px;
  }
  .box-1{
    background: #ffc004;
  }
  .box-2{
    background: green;
    img{
      width: 70%!important;
      padding-top: 20px!important;
    }
  }
  .box-3{
    background: #910010;
    img {
      width: 45% !important;
    }
  }
  .box-4{
    background: #ffa00f;
  }
  .box-5{
    background: #b78f04;
  }
  .box-6{
    background: #00acea;
  }
  .box-7{
    background: #64c317;
  }
  .box-8{
    background: #619526;
    img {
      width: 65% !important;
    }
  }
  .box-9{
    background: #f53300;
    img {
      width: 45% !important;
    }
  }
  .box-10{
    background: #f86835;
  }
  .box-11{
    background: #f3950f;
  }
  .box-12{
    background: #b78f04;
  }
  .box-13{
    background: #003974;
  }
  .content-section{
    display: inline-flex;
    padding-top: 10px;
    align-items: center;
    font-weight: bold;
  }
  .item-number{
    font-size: 38px;
    color: white;
    text-align: center;
  }
  .item-text{
    color: white;
    font-size: 12px;
    font-weight: 600;
  }
  .image-section{
    text-align: center;
    padding: 10px 0px;
    img{
      width: 55%;
      padding: 10px;
    }
  }

}

/*Shares Page CSS*/
#share-container{
  .stock-price{
    color: #4099da;
    font-weight: 600;
  }

  .stock-delta{
    font-weight: 600;
  }

  .col-md-12{
    flex: none;
  }
}


/*Whitepaper CSS*/

#whitepapers-filter-tags {
  padding: 0!important;
  li{
    display: inline-block;
    margin-right: 4px;
    border-radius: 15px;
    background-color: #e4e4e4;
    padding: 5px 20px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
  }
  .selected{
    background-color: #4099da!important;
    color: white;
  }
}


/*Mobile Responsive CSS*/

#whitepapers .richtext .table-mobile-head{
  display: none;
}

@media only screen and (max-width: 768px) {
  #whitepapers-filter-tags
  {
    li{
      margin: 5px;
    }
    ul{
      padding: 0!important;
    }
  }

  .sustainability .section {
    max-width: 100% !important;
  }

  .sub-container{
    display: block!important;
  }

}


/*Common CSS*/

.inline-flex{
  display: inline-flex;
}
.mt-70{
  margin-top: 70px;
}
.mt-30{
  margin-top: 30px;
}
.padding-20{
  padding: 20px;
}
.text-bold{
  font-weight: 600;
}

.text-danger{
  color: #d9171c;
}
