<!DOCTYPE html>
<html lang="en">

    <head>
        {{> head}}
    </head>
    {{#> body}}
        <!--	Content	# begin	-->
        <section class="container-fluid wide-container" style="">
            <div class="row row-widewidth">
                <div class="col-12">
                    <div class="heroOverlay heroOverlay-light-blue">
                        <!-- hero theme: heroOverlay-light or heroOverlay-dark -->
                        <div class="heroOverlay-content">
                            <div class="teaser theme-primary-color-background">
                                <div class="teaser-content richtext richtext-teaser">
                                    <div class="teaser-body">
                                        <h1 class='h1 teaser-headline-accent theme-color-accent'>Ørsted</h1>
                                        <h2 class='h4 teaser-headline'><b>We are a renewable energy company that takes tangible action to create a world that runs entirely <br />on green energy.</b></h2>
                                    </div>
                                    <div class="teaser-cta">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="heroOverlay-media">
                            <style>
                                @media only screen and (max-width: 768px) {
                                    #Acefa2855-013b-4145-8cba-fa184bac23ca {
                                        background-image: url("https://orstedcdn.azureedge.net/-/media/WWW/Images/Corp/Business/Wind/Burbo-Bank-Extension-UK/Full_view2.ashx?mh=720&amp;mw=720&amp;rev=cdc02ed975864d62b609ebec9f62d273&amp;hash=8F5C2DC1ED17824549D3DB29920FDCA5");
                                    }
                                }

                                @media only screen and (min-width: 769px) {
                                    #Acefa2855-013b-4145-8cba-fa184bac23ca {
                                        background-image: url("https://orstedcdn.azureedge.net/-/media/WWW/Images/Corp/Business/Wind/Burbo-Bank-Extension-UK/Full_view2.ashx?mh=1440&amp;mw=1440&amp;rev=cdc02ed975864d62b609ebec9f62d273&amp;hash=00FB91957DACB7CFFBC3519E8A601E50");
                                    }
                                }

                            </style>
                            <div id="Acefa2855-013b-4145-8cba-fa184bac23ca" class="heroOverlay-image background-image-center-center" role="img" aria-label="Offshore wind"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="container-fluid narrow-container" style="">
            <div class="row row-narrow">
                <div class="col-12">
                    <div class="teaserCircle theme-white teaser-image-left">
                        <div class="teaser-media">
                            <div class="teaser-img background-image-center-center" style="background-image: url('https://orstedcdn.azureedge.net/-/media/WWW/Images/Corp/Graphics/Icons/Quoteation/Blue.ashx?mh=400&amp;mw=400&amp;rev=df49de18921545a389994bea858dbdd1&amp;hash=F968B909873FA9DCABCC3E05DF099B2A');" title="" aria-label=""></div>
                        </div>
                        <div class="teaser-content">
                            <div class="teaser-text">
                                <h2 class='h3 theme-color-primary-base richtext'>
                                    <h3 id="2a56d8d5-1069-4f60-8d09-f5ef8911b111"><span style="color: #4099da;">It's time to take real action to create a world that runs entirely on green energy</span></h3>
                                </h2>
                                <b>Henrik Poulsen, CEO, Ørsted</b>
                            </div>
                            <div class="teaser-cta">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="container-fluid wide-container" style="">
            <div class="row row-widewidth">
                <div class="col-12">
                    <div class=" teaser teaser-minimised   teaser-horisontal theme-backdrop-2 theme-primary-color-background">
                        <div class="teaser-media ">
                            <style>
                                @media only screen {
                                    #Af73c951c-6dd1-479b-b7c3-8b58a1d34d66 {
                                        background-image: url("https://orstedcdn.azureedge.net/-/media/WWW/Images/Corp/People/Family-and-friends/Family-using-electronics/Man_iPad_inside3.ashx?mh=720&mw=720&rev=97cc54fdb32d42f3ad291b1fcef9cef1&hash=285D73EC50ECB3F362A97FE8980B6E74");
                                    }
                                }

                            </style>
                            <div id="Af73c951c-6dd1-479b-b7c3-8b58a1d34d66" class="teaser-img background-image-center-center" role="img" aria-label=""></div>
                        </div>
                        <div class="teaser-content richtext richtext-teaser">
                            <h2 class='h3 teaser-tagline-minimised theme-color-accent'>Our vision &amp; values</h2>
                            <div class="teaser-body-minimised">
                                <h2 class='h3 teaser-headline'><b>Our vision is to create a world that runs entirely on <br />green energy&nbsp;</b></h2>
                            </div>
                            <div class="teaser-cta">
                                <a class="link-arrow teaser-link-arrow" href="/en/About-us/About-orsted/Our-vision-and-values">Learn more</a>
                            </div>
                        </div>
                    </div>
                    <div class=" teaser   teaser-image-right teaser-horisontal theme-blue-white theme-primary-color-background">
                        <div class="teaser-media ">
                            <style>
                                @media only screen {
                                    #A0b4c52b2-9404-4db4-94dd-befb51beaca5 {
                                        background-image: url("https://orstedcdn.azureedge.net/-/media/WWW/Images/Corp/Employees/Management/New-Executive-Management/Henrik_Poulsen_headshot6.ashx?mh=720&mw=720&rev=81c6640e1871452788567d794ef23b86&hash=1833CDE844765955F87F0E20566EDCA9");
                                    }
                                }

                            </style>
                            <div id="A0b4c52b2-9404-4db4-94dd-befb51beaca5" class="teaser-img background-image-center-center" role="img" aria-label=""></div>
                        </div>
                        <div class="teaser-content richtext richtext-teaser">
                            <div class="teaser-body">
                                <h2 class='h3 teaser-headline-accent theme-color-accent'><span style="color: #4099da;">Our leadership team</span><br /></h2>
                                <h2 class='h4 teaser-headline'>We have a two-tier&nbsp;management structure consisting of a Board of Directors and our Group Executive Management <br /></h2>
                            </div>
                            <div class="teaser-cta">
                                <a class="link-arrow teaser-link-arrow" href="/en/About-us/About-orsted/Management">View our leadership team</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="container-fluid wide-container" style="">
            <div class="row row-widewidth">
                <div class="col-12">
                    <section class="livestream theme-white theme-primary-color-background">
                        <div class="livestream-media">
                            <video src="https://orstedcdn.azureedge.net/-/media/Feature/LifeStream/darkblue_on_white_vid.ashx?rev=4e6c4594a1d24266a820ebdcde8daffd" aria-label="" muted loop playsinline autoplay preload="metadata"></video>
                        </div>
                        <div class="livestream-content">
                            <section class="teaser theme-primary-color-background">
                                <div class="teaser-content">
                                    <div class="teaser-body">
                                        <h2 class='h3 teaser-headline-accent'><strong>Why &Oslash;rsted?</strong></h2>
                                        <h2 class='h2 teaser-headline'>
                                        </h2>
                                    </div>
                                    <div class="teaser-cta">
                                        <a class="link-arrow teaser-link-arrow" href="/en/About-us/About-orsted/About-our-name">Read about our name change</a>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </section>
                </div>
            </div>
        </section>
        <section class="container-fluid wide-container" style="">
            <div class="row row-widewidth">
                <div class="col-md-6 col-sm-12">
                    <div class="teaser teaser-medium theme-aubergine-white  theme-primary-color-background">
                        <div class="teaser-content richtext richtext-teaser no-gradient">
                            <h2 class='h3 teaser-tagline theme-color-accent'>Governance</h2>
                            <div class="teaser-body">
                                <h3 class='h3 teaser-headline'>To reach our goals, we need to ensure that all practices and procedures in place help us towards our objective.</h3>
                            </div>
                            <div class="teaser-cta">
                                <a class="link-arrow teaser-link-arrow" href="/en/Sustainability/sustainability-governance">Read more about governance</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="teaser teaser-medium theme-backdrop-2  theme-primary-color-background">
                        <div class="teaser-content richtext richtext-teaser no-gradient">
                            <h2 class='h3 teaser-tagline theme-color-accent'>Procurement</h2>
                            <div class="teaser-body">
                                <h3 class='h3 teaser-headline'><span style="color: #644c76;">Group Procurement is in charge of negotiating and concluding procurement contracts on goods and services for Ørsted. </span><br /></h3>
                            </div>
                            <div class="teaser-cta">
                                <a class="link-arrow teaser-link-arrow" href="/en/About-us/Procurement">Read more about procurement</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {{/body}}

</html>
