<!DOCTYPE html>
<html lang="en">

    <head>
        {{> head}}
    </head>
    {{#> body}}
        <section class="container-fluid wide-container" style="">
            <div class="row row-widewidth">
                <div class="col-12">
                    <div class="heroOverlay heroOverlay-light-blue">
                        <!-- hero theme: heroOverlay-light or heroOverlay-dark -->
                        <div class="heroOverlay-content">
                            <div class="teaser theme-primary-color-background">
                                <div class="teaser-content richtext richtext-teaser">
                                    <div class="teaser-body">
                                        <h1 class='h1 teaser-headline-accent theme-color-accent'>Shares</h1>
                                        <h2 class='h3 teaser-headline'>Look up our financial report, Investor presentations and fact sheets</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="heroOverlay-media">
                            <style>
                                @media only screen and (max-width: 768px) {
                                    #Af05613a0-b0c6-4576-80c8-4dc558ab71f6 {
                                        background-image: url("https://orstedcdn.azureedge.net/-/media/WWW/Images/Corp/Business/Gentofte-location---GTF/GTF-office-flags3.ashx?mh=720&amp;mw=720&amp;rev=c7b9fb12a4694194aaf36ad404f7c7bd&amp;hash=D5F23971F7EF045C0CD90FC9C6BE5881");
                                    }
                                }

                                @media only screen and (min-width: 769px) {
                                    #Af05613a0-b0c6-4576-80c8-4dc558ab71f6 {
                                        background-image: url("https://orstedcdn.azureedge.net/-/media/WWW/Images/Corp/Business/Gentofte-location---GTF/GTF-office-flags3.ashx?mh=1440&amp;mw=1440&amp;rev=c7b9fb12a4694194aaf36ad404f7c7bd&amp;hash=0FB5EB288F1C1D4ACDDBEA644ED87876");
                                    }
                                }

                            </style>
                            <div id="Af05613a0-b0c6-4576-80c8-4dc558ab71f6" class="heroOverlay-image background-image-center-center" role="img" aria-label="&amp;#216;rsted flags and logo"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="container-fluid wide-container" style="">
            <div class="row row-widewidth">
                <div class="col-md-6 col-sm-12">
                    <div class="teaser teaser-medium theme-image  theme-primary-color-background">
                        <div class="teaser-media ">
                            <style>
                                @media only screen and (max-width: 768px) {
                                    #Ad22605e3-c73b-46b9-8ec6-d143373b6fac {
                                        background-image: url("https://orstedcdn.azureedge.net/-/media/WWW/Images/Corp/Business/Wind/Wind-turbine-blades.ashx?mh=720&mw=720&rev=8a55bdb978f54912a6cd3c4aae2e6bd5&hash=30CDFA3BFDFD0B09990AD1473DB0949F");
                                    }
                                }

                                @media only screen and (min-width: 769px) {
                                    #Ad22605e3-c73b-46b9-8ec6-d143373b6fac {
                                        background-image: url("https://orstedcdn.azureedge.net/-/media/WWW/Images/Corp/Business/Wind/Wind-turbine-blades.ashx?mh=1440&mw=1440&rev=8a55bdb978f54912a6cd3c4aae2e6bd5&hash=A4692F7DF0F170E06B034D5C6831C573");
                                    }
                                }

                            </style>
                            <div id="Ad22605e3-c73b-46b9-8ec6-d143373b6fac" class="teaser-img background-image-center-center" role="img" aria-label="Blades"></div>
                        </div>
                        <div class="teaser-content richtext richtext-teaser no-gradient">
                            <div class="teaser-body">
                            </div>
                            <div class="teaser-cta">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <p>Please add your code here</p>
                </div>
            </div>
        </section>
        {{/body}}

</html>
