<!DOCTYPE html>
<html lang="en">

    <head>
        {{> head}}

    </head>

    {{#> body}}
        <section class="container-fluid wide-container" style="">
            <div class="row row-widewidth">
                <div class="col-12">
                    <div class="heroOverlay heroOverlay-light-blue">
                        <!-- hero theme: heroOverlay-light or heroOverlay-dark -->
                        <div class="heroOverlay-content">
                            <div class="teaser theme-primary-color-background">
                                <div class="teaser-content richtext richtext-teaser">
                                    <div class="teaser-body">
                                        <h1 class='h1 teaser-headline-accent theme-color-accent'>Shares</h1>
                                        <h2 class='h3 teaser-headline'>Look up our financial report, Investor presentations and fact sheets</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="heroOverlay-media">
                            <style>
                                @media only screen and (max-width: 768px) {
                                    #Af05613a0-b0c6-4576-80c8-4dc558ab71f6 {
                                        background-image: url("https://orstedcdn.azureedge.net/-/media/WWW/Images/Corp/Business/Gentofte-location---GTF/GTF-office-flags3.ashx?mh=720&amp;mw=720&amp;rev=c7b9fb12a4694194aaf36ad404f7c7bd&amp;hash=D5F23971F7EF045C0CD90FC9C6BE5881");
                                    }
                                }

                                @media only screen and (min-width: 769px) {
                                    #Af05613a0-b0c6-4576-80c8-4dc558ab71f6 {
                                        background-image: url("https://orstedcdn.azureedge.net/-/media/WWW/Images/Corp/Business/Gentofte-location---GTF/GTF-office-flags3.ashx?mh=1440&amp;mw=1440&amp;rev=c7b9fb12a4694194aaf36ad404f7c7bd&amp;hash=0FB5EB288F1C1D4ACDDBEA644ED87876");
                                    }
                                }

                            </style>
                            <div id="Af05613a0-b0c6-4576-80c8-4dc558ab71f6" class="heroOverlay-image background-image-center-center" role="img" aria-label="&amp;#216;rsted flags and logo"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="share-container" class="container-fluid wide-container" style="">
            <div class="row row-widewidth">
                <div class="col-md-6 col-sm-12">
                    <div class="teaser teaser-medium theme-image  theme-primary-color-background">
                        <div class="teaser-media ">
                            <style>
                                @media only screen and (max-width: 768px) {
                                    #Ad22605e3-c73b-46b9-8ec6-d143373b6fac {
                                        background-image: url("https://orstedcdn.azureedge.net/-/media/WWW/Images/Corp/Business/Wind/Wind-turbine-blades.ashx?mh=720&mw=720&rev=8a55bdb978f54912a6cd3c4aae2e6bd5&hash=30CDFA3BFDFD0B09990AD1473DB0949F");
                                    }
                                }

                                @media only screen and (min-width: 769px) {
                                    #Ad22605e3-c73b-46b9-8ec6-d143373b6fac {
                                        background-image: url("https://orstedcdn.azureedge.net/-/media/WWW/Images/Corp/Business/Wind/Wind-turbine-blades.ashx?mh=1440&mw=1440&rev=8a55bdb978f54912a6cd3c4aae2e6bd5&hash=A4692F7DF0F170E06B034D5C6831C573");
                                    }
                                }

                            </style>
                            <div id="Ad22605e3-c73b-46b9-8ec6-d143373b6fac" class="teaser-img background-image-center-center" role="img" aria-label="Blades"></div>
                        </div>
                        <div class="teaser-content richtext richtext-teaser no-gradient">
                            <div class="teaser-body">
                            </div>
                            <div class="teaser-cta">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 padding-20">
                    <h4>Share Price</h4>
                    <h2 class="mt-70 stock-price">

                    </h2>
                    <p class="stock-delta"></p>

                    <div class="col-md-12 inline-flex mt-30">
                        <div class="col-md-3">Volume</div>
                        <div class="col-md-9 volume-value"></div>
                    </div>

                    <div class="col-md-12 inline-flex mt-2">
                        <div class="col-md-3">Last Updated</div>
                        <div class="col-md-9 last-updated"></div>
                    </div>

                    <div class="col-md-12 inline-flex mt-2">
                        <div class="col-md-3">OMXC20</div>
                        <div class="col-md-9 omxc-value"> <span></span></div>
                    </div>
                </div>
            </div>
        </section>

        <script>
            /*Variable Declarations*/
            var shareData = {};

            /*To get the hotname from Url*/
            var hostname = window.location.origin;

            /*Retrieve JSON from the file and process the data according to the requirement*/
            $.getJSON( hostname +"/api/share.json", function( data ) {
                shareData = data;

                /*Set Stock Price from JSON Data*/
                $('.stock-price').html('<strong>'+shareData.shares[0].toFixed(2)+'</strong>');

                /*Set Stock Delta from JSON Data based on condition*/
                let stockDeltaDifference = shareData.shares[0] - shareData.shares[1];
                let stockPercentageDifference = ((stockDeltaDifference/shareData.shares[1]) * 100).toFixed(2);
                if(shareData.shares[0] > shareData.shares[1]){ /*if the difference between the share values is positive*/
                    $('.stock-delta').html('<strong>+' + stockDeltaDifference.toFixed(2) + " DKK / +" +stockPercentageDifference+"%"+'</strong>').addClass('text-success');
                }else if(shareData.shares[0] < shareData.shares[1]){ /*if the difference between the share values is negative*/
                    $('.stock-delta').html('<strong>' + stockDeltaDifference.toFixed(2) + " DKK / " +stockPercentageDifference+"%"+'</strong>').addClass('text-danger');
                }else{ /*if the difference between the share values is 0*/
                    $('.stock-delta').html('<strong>' + stockDeltaDifference.toFixed(2) + " DKK / " +stockPercentageDifference+"%"+'</strong>');
                }

                /*Set Volume data*/
                let volumeValue = 0;
                let today = new Date();
                $.each(shareData.volumes, function( index, volumeObj ) {
                    let dateDifferenceInMonths = monthDiff(new Date(volumeObj.date), today);

                    /*Volume sum of last 6 months*/
                    if(dateDifferenceInMonths < 6){
                        volumeValue += volumeObj.volume;
                    }
                });
                $('.volume-value').html('<strong>' + volumeValue.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") +'</strong>');

                /*Set Last Updated date*/
                let formattedDate = formatDate(new Date(shareData.updatedDate));
                $(".last-updated").text(formattedDate);

                /*Set OMXC20 Data*/

                /*Calculate Omxc20 sum of first set data*/
                let omxc20Sum1 = 0;
                $.each(shareData.index[0], function( i, tagObj ) {
                    if(tagObj.tags.includes("OMXC20")){
                        omxc20Sum1 += tagObj.value;
                    }
                });

                /*Calculate Omxc20 sum of second set data*/
                let omxc20Sum2 = 0;
                $.each(shareData.index[1], function( i, tagObj ) {
                    if(tagObj.tags.includes("OMXC20")){
                        omxc20Sum2 += tagObj.value;
                    }
                });

                let omxc20Difference = omxc20Sum2 - omxc20Sum1;
                let omxc20PercentageDifference = ((omxc20Difference/omxc20Sum1) * 100).toFixed(2);

                if(omxc20Sum2 > omxc20Sum1){ /*if the difference between the omxc20 values is positive*/
                    $(".omxc-value").html('<strong>' +omxc20Sum1.toFixed(2) + '<span class="text-success"> +'+omxc20Difference.toFixed(2)+' / +'+omxc20PercentageDifference+'%'+'</span></strong>');
                }else if(omxc20Sum2 < omxc20Sum1){ /*if the difference between the omxc20 values is negative*/
                    $(".omxc-value").html('<strong>' +omxc20Sum1.toFixed(2) + '<span class="text-danger"> '+omxc20Difference.toFixed(2)+' / '+omxc20PercentageDifference+'%'+'</span></strong>');
                }else{ /*if the difference between the omxc20 values is 0*/
                    $(".omxc-value").html('<strong>' +omxc20Sum1.toFixed(2) + ' '+omxc20Difference.toFixed(2)+' / '+omxc20PercentageDifference+'%'+'</strong>');
                }

            });

            /*This method is to get number of months from 2 dates*/
            function monthDiff(d1, d2) {
                var months;
                months = (d2.getFullYear() - d1.getFullYear()) * 12;
                months -= d1.getMonth() + 1;
                months += d2.getMonth();
                return months <= 0 ? 0 : months;
            }

            /*This method is to format date*/

            function formatDate(inputDate){
                var dd = inputDate.getDate();
                var mm = inputDate.getMonth()+1;
                var yyyy = inputDate.getFullYear();
                var hh = inputDate.getHours();
                var m = inputDate.getMinutes();

                if(dd<10)
                {
                    dd='0'+dd;
                }

                if(mm<10)
                {
                    mm='0'+mm;
                }

                return dd+'.'+mm+'.'+yyyy+ " " +hh+':'+m;
            }

        </script>
        {{/body}}

</html>
