<!DOCTYPE html>
<html lang="en">

    <head>
        {{> head}}
    </head>
    {{#> body}}
        <!--	Content	# begin	-->
        <section class="container-fluid wide-container" style="">
            <div class="row row-widewidth">
                <div class="col-12">
                    <div class="teaser teaser-medium theme-image  theme-primary-color-background">
                        <div class="teaser-media ">
                            <style>
                                @media only screen and (max-width: 768px) {
                                    #Ab8733334-8629-4a48-8c63-c6b15b18817b {
                                        background-image: url("https://orstedcdn.azureedge.net/-/media/sustainability/sustainability-programmes-final.ashx?mh=720&mw=720&rev=be0b74216de944c9a7d7fdc386f3dcee&hash=13505316879CAB399FAF07940614C56F");
                                    }
                                }

                                @media only screen and (min-width: 769px) {
                                    #Ab8733334-8629-4a48-8c63-c6b15b18817b {
                                        background-image: url("https://orstedcdn.azureedge.net/-/media/sustainability/sustainability-programmes-final.ashx?mh=1440&mw=1440&rev=be0b74216de944c9a7d7fdc386f3dcee&hash=9576A91E81475D60E78881D6F693BE03");
                                    }
                                }

                            </style>
                            <div id="Ab8733334-8629-4a48-8c63-c6b15b18817b" class="teaser-img background-image-top-center" role="img" aria-label=""></div>
                        </div>
                        <div class="teaser-content richtext richtext-teaser no-gradient">
                            <div class="teaser-body">
                                <h1 class='h1 teaser-headline-accent theme-color-accent'>
                                    <p><span style="color: #4099da;">Sustainability </span></p>
                                    <p><span style="color: #4099da;">programmes</span></p>
                                </h1>
                            </div>
                            <div class="teaser-cta">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Sustainability programmes Section 1-->
        <section class="container-fluid narrow-container sustainability">
            <div class="row row-narrow">
                <div class="col-10 container">
                    <p class="heading">Aligning our business with climate science</p>
                    <div class="col-12 sub-container">
                        <div class="col-3 section box-1">
                            <div class="col-12 content-section">
                                <div class="col-3 item-number">7</div>
                                <div class="col-9 item-text"> AFFORDABLE AND CLEAN ENERGY</div>
                            </div>

                            <div class="col-12 image-section">
                                <img src="../../images/affordable.png" alt="">
                            </div>
                        </div>
                        <div class="col-3 section box-2">
                            <div class="col-12 content-section">
                                <div class="col-3 item-number">13</div>
                                <div class="col-9 item-text"> CLIMATE <br/>ACTION</div>
                            </div>

                            <div class="col-12 image-section">
                                <img src="../../images/climate.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <!--Sustainability programmes Section 2-->
                <div class="col-10 container">
                    <p class="heading">Address potential impacts of the green energy transformation</p>
                    <div class="col-12 sub-container">
                        <div class="col-3 section box-3">
                            <div class="col-12 content-section">
                                <div class="col-3 item-number">8</div>
                                <div class="col-9 item-text"> DECENT WORK AND <br/> ECONOMIC GROWTH</div>
                            </div>

                            <div class="col-12 image-section">
                                <img src="../../images/decendwork.png" alt="">
                            </div>
                        </div>
                        <div class="col-3 section box-4">
                            <div class="col-12 content-section">
                                <div class="col-3 item-number">11</div>
                                <div class="col-9 item-text"> SUSTAINABLE CITIES  <br/>AND COMMUNITIES</div>
                            </div>

                            <div class="col-12 image-section">
                                <img src="../../images/sustainable.png" alt="">
                            </div>
                        </div>
                        <div class="col-3 section box-5">
                            <div class="col-12 content-section">
                                <div class="col-3 item-number">12</div>
                                <div class="col-9 item-text"> RESPONSIBLE <br/>CONSUMPTION <br/>AND PRODUCTION</div>
                            </div>

                            <div class="col-12 image-section">
                                <img src="../../images/responsible.png" alt="">
                            </div>
                        </div>
                        <div class="col-3 section box-6">
                            <div class="col-12 content-section">
                                <div class="col-3 item-number">14</div>
                                <div class="col-9 item-text"> LIFE <br/>BELOW WATER</div>
                            </div>

                            <div class="col-12 image-section">
                                <img src="../../images/lifewater.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-10 container">
                    <div class="col-12 sub-container">
                        <div class="col-3 section box-7">
                            <div class="col-12 content-section">
                                <div class="col-3 item-number">15</div>
                                <div class="col-9 item-text"> LIFE <br/>ON LAND</div>
                            </div>

                            <div class="col-12 image-section">
                                <img src="../../images/lifeland.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <!--Sustainability programmes Section 3-->
                <div class="col-10 container">
                    <p class="heading">Ensuring responsible business practices</p>
                    <div class="col-12 sub-container">
                        <div class="col-3 section box-8">
                            <div class="col-12 content-section">
                                <div class="col-3 item-number">3</div>
                                <div class="col-9 item-text"> GOOD HEALTH <br/>AND WELL-BEING</div>
                            </div>

                            <div class="col-12 image-section">
                                <img src="../../images/goodhealth.png" alt="">
                            </div>
                        </div>
                        <div class="col-3 section box-9">
                            <div class="col-12 content-section">
                                <div class="col-3 item-number">5</div>
                                <div class="col-9 item-text"> GENDER  <br/>EQUALITY</div>
                            </div>

                            <div class="col-12 image-section">
                                <img src="../../images/gender.png" alt="">
                            </div>
                        </div>
                        <div class="col-3 section box-10">
                            <div class="col-12 content-section">
                                <div class="col-3 item-number">9</div>
                                <div class="col-9 item-text"> INDUSTRY,INNOVATION <br/>AND INFRASTRUCTURE</div>
                            </div>

                            <div class="col-12 image-section">
                                <img src="../../images/industry.png" alt="">
                            </div>
                        </div>
                        <div class="col-3 section box-11">
                            <div class="col-12 content-section">
                                <div class="col-3 item-number">11</div>
                                <div class="col-9 item-text"> SUSTAINABLE CITIES <br/> AND COMMUNITIES</div>
                            </div>

                            <div class="col-12 image-section">
                                <img src="../../images/sustainable.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-10 container">
                    <div class="col-12 sub-container">
                        <div class="col-3 section box-12">
                            <div class="col-12 content-section">
                                <div class="col-3 item-number">12</div>
                                <div class="col-9 item-text"> RESPONSIBLE <br/>CONSUMPTION<br/>AND PRODUCTION</div>
                            </div>

                            <div class="col-12 image-section">
                                <img src="../../images/responsible.png" alt="">
                            </div>
                        </div>
                        <div class="col-3 section box-13">
                            <div class="col-12 content-section">
                                <div class="col-3 item-number">16</div>
                                <div class="col-9 item-text"> PEACE, JUSTICE <br/>AND STRONG <br/>INSTITUTIONS</div>
                            </div>

                            <div class="col-12 image-section">
                                <img src="../../images/peace.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {{/body}}

</html>
