<!DOCTYPE html>
<html lang="en">

    <head>
        {{> head}}
    </head>
    {{#> body}}
        <!--	Content	# begin	-->
        <section class="container-fluid wide-container" style="">
            <div class="row row-widewidth">
                <div class="col-12">
                    <div class="teaser teaser-medium theme-image  theme-primary-color-background">
                        <div class="teaser-media ">
                            <style>
                                @media only screen and (max-width: 768px) {
                                    #Ab8733334-8629-4a48-8c63-c6b15b18817b {
                                        background-image: url("https://orstedcdn.azureedge.net/-/media/sustainability/sustainability-programmes-final.ashx?mh=720&mw=720&rev=be0b74216de944c9a7d7fdc386f3dcee&hash=13505316879CAB399FAF07940614C56F");
                                    }
                                }

                                @media only screen and (min-width: 769px) {
                                    #Ab8733334-8629-4a48-8c63-c6b15b18817b {
                                        background-image: url("https://orstedcdn.azureedge.net/-/media/sustainability/sustainability-programmes-final.ashx?mh=1440&mw=1440&rev=be0b74216de944c9a7d7fdc386f3dcee&hash=9576A91E81475D60E78881D6F693BE03");
                                    }
                                }

                            </style>
                            <div id="Ab8733334-8629-4a48-8c63-c6b15b18817b" class="teaser-img background-image-top-center" role="img" aria-label=""></div>
                        </div>
                        <div class="teaser-content richtext richtext-teaser no-gradient">
                            <div class="teaser-body">
                                <h1 class='h1 teaser-headline-accent theme-color-accent'>
                                    <p><span style="color: #4099da;">Sustainability </span></p>
                                    <p><span style="color: #4099da;">programmes</span></p>
                                </h1>
                            </div>
                            <div class="teaser-cta">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="container-fluid narrow-container sustainability" style="">
            <div class="row row-narrow">
                <div class="col-12">
                    <p>Please edit your code here</p>
                    <p style="background: red;">example to load image <img src="../images/affordable.png"></p>
                </div>
            </div>
        </section>
        {{/body}}

</html>
