<!DOCTYPE html>
<html lang="en">

    <head>
        {{> head}}
    </head>
    {{#> body}}
        <!--	Content	# begin	-->
        <section class="container-fluid wide-container">
            <div class="row row-widewidth">
                <div class="col-12">
                    <div class="article article--narrow-media-1 site-theme-blue article-corporate">
                        <h1 class="article-headline article-corporate-headline"> Whitepapers </h1>
                    </div>
                </div>
            </div>
        </section>
        <section class="container-fluid narrow-container">
            <div class="row row-narrow">
                <div class="col-12">
                    <p>Please edit your code here</p>
                    <div class="richtext">
                        <table style="margin-top: 20px;">
                            <tbody>
                                <tr>
                                    <td style="text-align: center;"><img src="https://via.placeholder.com/300"></td>
                                    <td>
                                        <h4><strong><span style="color: #4099da;">Lorem ipsum dolor sit amet.</span></strong></h4>
                                        <ul class="whitepapers-tags">
                                            <li data-tag="nature">Nature</li>
                                            <li data-tag="greentech">Greentech</li>
                                            <li data-tag="capital">Capital</li>
                                            <li data-tag="building-green">Building Green</li>
                                        </ul>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptate minus praesentium ea, ex eligendi delectus adipisci. Sapiente voluptatibus minus dolores magnam, provident quam aperiam error minima debitis ipsa officiis.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><img src="https://via.placeholder.com/300"></td>
                                    <td>
                                        <h4><strong><span style="color: #4099da;">Lorem ipsum dolor sit amet.</span></strong></h4>
                                        <ul class="whitepapers-tags">
                                            <li data-tag="capital">Capital</li>
                                            <li data-tag="greentech">Greentech</li>
                                            <li data-tag="nature">Nature</li>
                                        </ul>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptate minus praesentium ea, ex eligendi delectus adipisci. Sapiente voluptatibus minus dolores magnam, provident quam aperiam error minima debitis ipsa officiis.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><img src="https://via.placeholder.com/300"></td>
                                    <td>
                                        <h4><strong><span style="color: #4099da;">Lorem ipsum dolor sit amet.</span></strong></h4>
                                        <ul class="whitepapers-tags">
                                            <li data-tag="nature">Nature</li>
                                            <li data-tag="building-green">Building Green</li>
                                            <li data-tag="greentech">Greentech</li>
                                        </ul>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptate minus praesentium ea, ex eligendi delectus adipisci. Sapiente voluptatibus minus dolores magnam, provident quam aperiam error minima debitis ipsa officiis.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><img src="https://via.placeholder.com/300"></td>
                                    <td>
                                        <h4><strong><span style="color: #4099da;">Lorem ipsum dolor sit amet.</span></strong></h4>
                                        <ul class="whitepapers-tags">
                                            <li data-tag="building-green">Building Green</li>
                                            <li data-tag="capital">Capital</li>
                                            <li data-tag="nature">Nature</li>
                                        </ul>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptate minus praesentium ea, ex eligendi delectus adipisci. Sapiente voluptatibus minus dolores magnam, provident quam aperiam error minima debitis ipsa officiis.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><img src="https://via.placeholder.com/300"></td>
                                    <td>
                                        <h4><strong><span style="color: #4099da;">Lorem ipsum dolor sit amet.</span></strong></h4>
                                        <ul class="whitepapers-tags">
                                            <li data-tag="nature">Nature</li>
                                            <li data-tag="building-green">Building Green</li>
                                            <li data-tag="capital">Capital</li>
                                            <li data-tag="greentech">Greentech</li>
                                        </ul>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptate minus praesentium ea, ex eligendi delectus adipisci. Sapiente voluptatibus minus dolores magnam, provident quam aperiam error minima debitis ipsa officiis.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><img src="https://via.placeholder.com/300"></td>
                                    <td>
                                        <h4><strong><span style="color: #4099da;">Lorem ipsum dolor sit amet.</span></strong></h4>
                                        <ul class="whitepapers-tags">
                                            <li data-tag="nature">Nature</li>
                                            <li data-tag="capital">Capital</li>
                                            <li data-tag="building-green">Building Green</li>
                                        </ul>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptate minus praesentium ea, ex eligendi delectus adipisci. Sapiente voluptatibus minus dolores magnam, provident quam aperiam error minima debitis ipsa officiis.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><img src="https://via.placeholder.com/300"></td>
                                    <td>
                                        <h4><strong><span style="color: #4099da;">Lorem ipsum dolor sit amet.</span></strong></h4>
                                        <ul class="whitepapers-tags">
                                            <li data-tag="building-green">Building Green</li>
                                            <li data-tag="greentech">Greentech</li>
                                            <li data-tag="capital">Capital</li>
                                        </ul>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptate minus praesentium ea, ex eligendi delectus adipisci. Sapiente voluptatibus minus dolores magnam, provident quam aperiam error minima debitis ipsa officiis.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><img src="https://via.placeholder.com/300"></td>
                                    <td>
                                        <h4><strong><span style="color: #4099da;">Lorem ipsum dolor sit amet.</span></strong></h4>
                                        <ul class="whitepapers-tags">
                                            <li data-tag="nature">Nature</li>
                                            <li data-tag="capital">Capital</li>
                                            <li data-tag="building-green">Building Green</li>
                                        </ul>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptate minus praesentium ea, ex eligendi delectus adipisci. Sapiente voluptatibus minus dolores magnam, provident quam aperiam error minima debitis ipsa officiis.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><img src="https://via.placeholder.com/300"></td>
                                    <td>
                                        <h4><strong><span style="color: #4099da;">Lorem ipsum dolor sit amet.</span></strong></h4>
                                        <ul class="whitepapers-tags">
                                            <li data-tag="capital">Capital</li>
                                            <li data-tag="nature">Nature</li>
                                        </ul>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptate minus praesentium ea, ex eligendi delectus adipisci. Sapiente voluptatibus minus dolores magnam, provident quam aperiam error minima debitis ipsa officiis.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><img src="https://via.placeholder.com/300"></td>
                                    <td>
                                        <h4><strong><span style="color: #4099da;">Lorem ipsum dolor sit amet.</span></strong></h4>
                                        <ul class="whitepapers-tags">
                                            <li data-tag="capital">Capital</li>
                                            <li data-tag="building-green">Building Green</li>
                                            <li data-tag="nature">Nature</li>
                                        </ul>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptate minus praesentium ea, ex eligendi delectus adipisci. Sapiente voluptatibus minus dolores magnam, provident quam aperiam error minima debitis ipsa officiis.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><img src="https://via.placeholder.com/300"></td>
                                    <td>
                                        <h4><strong><span style="color: #4099da;">Lorem ipsum dolor sit amet.</span></strong></h4>
                                        <ul class="whitepapers-tags">
                                            <li data-tag="greentech">Greentech</li>
                                            <li data-tag="nature">Nature</li>
                                            <li data-tag="capital">Capital</li>
                                        </ul>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptate minus praesentium ea, ex eligendi delectus adipisci. Sapiente voluptatibus minus dolores magnam, provident quam aperiam error minima debitis ipsa officiis.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><img src="https://via.placeholder.com/300"></td>
                                    <td>
                                        <h4><strong><span style="color: #4099da;">Lorem ipsum dolor sit amet.</span></strong></h4>
                                        <ul class="whitepapers-tags">
                                            <li data-tag="greentech">Greentech</li>
                                        </ul>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptate minus praesentium ea, ex eligendi delectus adipisci. Sapiente voluptatibus minus dolores magnam, provident quam aperiam error minima debitis ipsa officiis.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><img src="https://via.placeholder.com/300"></td>
                                    <td>
                                        <h4><strong><span style="color: #4099da;">Lorem ipsum dolor sit amet.</span></strong></h4>
                                        <ul class="whitepapers-tags">
                                            <li data-tag="building-green">Building Green</li>
                                            <li data-tag="greentech">Greentech</li>
                                        </ul>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptate minus praesentium ea, ex eligendi delectus adipisci. Sapiente voluptatibus minus dolores magnam, provident quam aperiam error minima debitis ipsa officiis.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><img src="https://via.placeholder.com/300"></td>
                                    <td>
                                        <h4><strong><span style="color: #4099da;">Lorem ipsum dolor sit amet.</span></strong></h4>
                                        <ul class="whitepapers-tags">
                                            <li data-tag="nature">Nature</li>
                                        </ul>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptate minus praesentium ea, ex eligendi delectus adipisci. Sapiente voluptatibus minus dolores magnam, provident quam aperiam error minima debitis ipsa officiis.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><img src="https://via.placeholder.com/300"></td>
                                    <td>
                                        <h4><strong><span style="color: #4099da;">Lorem ipsum dolor sit amet.</span></strong></h4>
                                        <ul class="whitepapers-tags">
                                            <li data-tag="greentech">Greentech</li>
                                            <li data-tag="capital">Capital</li>
                                            <li data-tag="nature">Nature</li>
                                            <li data-tag="building-green">Building Green</li>
                                        </ul>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptate minus praesentium ea, ex eligendi delectus adipisci. Sapiente voluptatibus minus dolores magnam, provident quam aperiam error minima debitis ipsa officiis.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><img src="https://via.placeholder.com/300"></td>
                                    <td>
                                        <h4><strong><span style="color: #4099da;">Lorem ipsum dolor sit amet.</span></strong></h4>
                                        <ul class="whitepapers-tags">
                                            <li data-tag="nature">Nature</li>
                                        </ul>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptate minus praesentium ea, ex eligendi delectus adipisci. Sapiente voluptatibus minus dolores magnam, provident quam aperiam error minima debitis ipsa officiis.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><img src="https://via.placeholder.com/300"></td>
                                    <td>
                                        <h4><strong><span style="color: #4099da;">Lorem ipsum dolor sit amet.</span></strong></h4>
                                        <ul class="whitepapers-tags">
                                            <li data-tag="building-green">Building Green</li>
                                            <li data-tag="greentech">Greentech</li>
                                            <li data-tag="nature">Nature</li>
                                        </ul>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptate minus praesentium ea, ex eligendi delectus adipisci. Sapiente voluptatibus minus dolores magnam, provident quam aperiam error minima debitis ipsa officiis.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><img src="https://via.placeholder.com/300"></td>
                                    <td>
                                        <h4><strong><span style="color: #4099da;">Lorem ipsum dolor sit amet.</span></strong></h4>
                                        <ul class="whitepapers-tags">
                                            <li data-tag="greentech">Greentech</li>
                                            <li data-tag="building-green">Building Green</li>
                                        </ul>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptate minus praesentium ea, ex eligendi delectus adipisci. Sapiente voluptatibus minus dolores magnam, provident quam aperiam error minima debitis ipsa officiis.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><img src="https://via.placeholder.com/300"></td>
                                    <td>
                                        <h4><strong><span style="color: #4099da;">Lorem ipsum dolor sit amet.</span></strong></h4>
                                        <ul class="whitepapers-tags">
                                            <li data-tag="building-green">Building Green</li>
                                            <li data-tag="nature">Nature</li>
                                        </ul>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptate minus praesentium ea, ex eligendi delectus adipisci. Sapiente voluptatibus minus dolores magnam, provident quam aperiam error minima debitis ipsa officiis.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><img src="https://via.placeholder.com/300"></td>
                                    <td>
                                        <h4><strong><span style="color: #4099da;">Lorem ipsum dolor sit amet.</span></strong></h4>
                                        <ul class="whitepapers-tags">
                                            <li data-tag="greentech">Greentech</li>
                                            <li data-tag="building-green">Building Green</li>
                                            <li data-tag="nature">Nature</li>
                                        </ul>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptate minus praesentium ea, ex eligendi delectus adipisci. Sapiente voluptatibus minus dolores magnam, provident quam aperiam error minima debitis ipsa officiis.</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <!--	Content	# end	-->
        {{/body}}

</html>
