<body class="site-theme-blue" id="lang-en">
    <!-- doCDN -->
    {{> nav}}
    <main id="main" role="main">
        {{> @partial-block }}
        {{> footer}}
    </main>
    
    <script
        src='https://orstedcdn.azureedge.net/Assets_/dist/js/vendor.bundle.min.js?d=733795bba2533ac784c80781954d4cb5c9756fc13e2697c0921dbaf89bee8972'></script>
    <script
        src='https://orstedcdn.azureedge.net/Assets_/dist/js/app.bundle.min.js?d=74477584a22c7c1f3397365fd84e977a1522443a6c2ddecb1823e7bdaf0b0eb0'></script>
</body>
