<noindex>
    <footer class="footer">
        <a href="#top" class="skip">Return to the top</a>
        <div class="row">
            <div class="col-12 col-lg-2">
                <address>
                    <p><strong>&Oslash;rsted&nbsp;</strong><br />
                        437 Madison Avenue, Suite 1903<br />
                        New York, NY 10022<br />
                        <br />
                </address>
            </div>
            <div class="col-12 col-lg-3">
                <div class="footer-heading"></div>
                <div class="footer-social">
                    <div class="social-flex">
                    </div>
                </div>

            </div>
            <div class="col-12 col-lg-7">
                <div class="richtext">
                    <p>The Ørsted vision is a world that runs entirely on green energy. Ørsted develops, constructs and operates offshore and onshore wind farms, solar farms, energy storage facilities, and bioenergy plants, and provides energy products to its customers. Ørsted ranks #1 in Corporate Knights' 2020 index of the Global 100 most sustainable corporations in the world and is recognised on the CDP Climate Change A List as a global leader on climate action. Headquartered in Denmark, Ørsted employs 6,500 people. Ørsted's shares are listed on Nasdaq Copenhagen (Orsted). In 2019, the group's revenue was DKK 67.8 billion (EUR 9.1 billion).</p>
                    
                    <p><a href="#">Disclaimer</a><br /><a href="#">Privacy policy</a><br /><a href="#">Cookie policy</a><br /></p>
                </div>
            </div>
        </div>
    </footer>
</noindex>
