<div class="headerSliderCorporate">
    <div class="headerSlider-spacer"></div>
    <header class="headerSlider">
        <div class="headerSlider-top">
            <!-- MAKE START overlay when active menu or search, also remove all active classes for menu or search-->
            <div class="nav-overlay"></div>
            <!-- MAKE END-->
            <div class="headerSlider-top-inner">
                <div class="header-left">
                    <div class="header-logo">
                        <a class="header-logo-link" href="/">
                            <img class="header-logo-image-mobile"
                                src="https://orstedcdn.azureedge.net/-/media/WWW/Images/Corp/Graphics/Logos/Orsted-logo/OrstedLogoPNG.ashx?mh=1440&mw=1440&rev=1e368a23dd1a4420a4109229a082da76&hash=10B0291B02EA839A39291058A409417E"
                                alt="logo">
                            <img class="header-logo-image-desktop"
                                src="https://orstedcdn.azureedge.net/-/media/WWW/Images/Corp/Graphics/Logos/Orsted-logo/OrstedLogoPNG.ashx?mh=1440&mw=1440&rev=1e368a23dd1a4420a4109229a082da76&hash=10B0291B02EA839A39291058A409417E"
                                alt="logo">
                        </a>
                    </div>
                    <!-- MAKE START-->
                    <!--rebased menu from right section to left also changes some class names (prevent CSS conflicts)-->
                    <div class="header-navigation">
                        <div class="header-navigation-inner">
                            <nav class="headerMegaNavigation megaNavigation-dk-business navigation-jointventure"
                                role="navigation">
                                <!--MAKE START responsiveBackTo-menu - used for back to first level menu in responsive mode-->
                                <div class="responsiveBackTo-menu">Back</div>
                                <!--MAKE END-->
                                <!--MAKE START mega menu list -->
                                <ul class="headerMegaNavigation-menu">
                                    <!--first level-->
                                    <li class="headerMegaNavigation-menu-item">
                                        <a class="headerMegaNavigation-menu-item-link  megaNavigation-submenu-trigger isPageAncestor"
                                            href="/sustainability.html">Sustainability</a>
                                    </li>
                                    <li class="headerMegaNavigation-menu-item">
                                        <a class="headerMegaNavigation-menu-item-link  megaNavigation-submenu-trigger"
                                            href="/shares.html">Shares</a>
                                    </li>
                                    <li class="headerMegaNavigation-menu-item">
                                        <a class="headerMegaNavigation-menu-item-link  megaNavigation-submenu-trigger"
                                            href="/whitepapers.html">Whitepapers</a>
                                    </li>
                                </ul>
                                <!--MAKE END-->
                            </nav>
                        </div>
                    </div>
                    <!-- MAKE END-->
                </div>
            </div>
        </div>
    </header>
</div>
